h2 {
  text-align: left;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
  display:
}

.App-body {
  border: 1px solid black;
  padding: 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  display: table;
  width: 10em;
}

.row {
  display: table-row;
  background-color: #eee;
}

.cell {
  display: table-cell;
  text-align: center;
  padding: 0.5em;
}
